.header {
  height: 170px;
}

.header__sun {
  width: 120px;
  animation: bounceIn 1s;
}

.header__sun-container {
  position: absolute;
  top: 10px;
  left: 40px;
  animation: rotate 13s infinite linear;
}

.header__cloud {
  position: absolute;
}

.header__cloud--1 {
  top: 60px;
  left: 10px;
  animation: bounceIn 1s 0.1s both;
}

.header__cloud--2 {
  top: 60px;
  left: 80px;
  animation: bounceIn 1s 0.3s both;
}

.header__title {
  position: absolute;
  top: 50px;
  left: 90px;
  font-family: 'Fredoka One', cursive;
  font-size: 3em;
  color: #efefef;
  text-shadow: 0 0 2px #111;
  margin: 0;
  animation: bounceInLeft 1s 0.3s both;
}

@media (max-width: 450px) {
  .header__title {
    font-size: 2.3em;
  }
}