.footer {
  text-align: center;
  padding: 50px 20px;
  color: #fff;
  animation: fadeIn 1s;
}

.footer__link {
  color: rgb(0, 92, 104);
}

@media (max-width: 450px) {
  .footer {
    font-size: 0.8em;
  }
}